* {
  font-family: 'Symbols Nerd Font Mono';
  font-size: 16px;
  font-weight: bolder;
}
window#waybar {
  background: alpha(#b1b5c3, 0.25);
  
  border-radius: 10px;
}
#workspaces,
#cava {
  border-radius: 10px;
  background-color: alpha(#b1b5c3, 0.50);
  color: #b26165;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  /* margin-right: 3px; */
  padding-left: 5px;
  padding-right: 5px;

}

#workspaces button {
  padding-left: 3px;
  padding-right: 3px;
  background: transparent;
  background-color: transparent;
  color: #b26165;
  border: 0px;
}

#cpu,
#memory,
#disk,
#custom-notification {
  border-radius: 10px;
  background-color: alpha(#b1b5c3, 0.50);;
  background-color: alpha(#b1b5c3, 0.50);;
  margin-top: 5px;
  margin-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}
#cpu,
#memory {
  margin-right: 5px;
  margin-left: 0px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 8px;
}

#clock,
#cpu,
#disk,
#network {
  font-family: 'feather';
  font-family: 'TeX Gyre Heros';
}

#tray {
  padding-left: 10px;
  padding-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#clock,
#date,
#pulseaudio,
#network,
#custom-weather {
  border-radius: 10px;
  background-color: alpha(#b1b5c3, 0.50);
  background-color: alpha(#b1b5c3, 0.50);
  margin-top: 5px;
  margin-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  border-top: 0px solid #266B79;
  border-bottom: 0px solid #266B79;
}

#pulseaudio {
  /* padding-left: 0px;
  padding-right: 0px; */
  margin-bottom: 5px;
}

#network,
#network2
{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 0px;
  margin-right: 5px;
}
#window,
#custom-spotify {
  border-radius: 10px;
  margin-left: 5px;
  background-color: alpha(#b1b5c3, 0.50);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'TeX Gyre Heros';
}
#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  margin-right: 10px;
  padding-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
}