[Desktop Entry]
Icon=/home/micaht/.local/share/JetBrains/Toolbox/toolbox.svg
Exec=/nix/store/gbgcj8yd7ara4bn35lwp89pwmcqpqk5a-jetbrains-toolbox-extracted/jetbrains-toolbox --minimize
Version=1.0
Type=Application
Categories=Development
Name=JetBrains Toolbox
StartupWMClass=jetbrains-toolbox
Terminal=false
MimeType=x-scheme-handler/jetbrains;
X-GNOME-Autostart-enabled=true
StartupNotify=false
X-GNOME-Autostart-Delay=10
X-MATE-Autostart-Delay=10
X-KDE-autostart-after=panel